    <footer id="footer">
        <div class="container">
            <div class="copyrights">Copyright 2015-2016 | Crafted By The Monsters | <a href="http://simontimms.com" target="_blank">Simon Timms</a> | <a href="http://davepaquette.com" target="_blank">Dave Paquette</a> | <a href="http://jameschambers.com" target="_blank">James Chambers</a></div> 
            <div class="social-ul">
                <ul>
                    <li class="social-twitter"><a href="https://twitter.com/AspNetMonsters"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-google"><a href="https://plus.google.com/100446024681292990445"><i class="fa fa-google-plus"></i></a></li>
                    <li class="social-youtube"><a href="https://www.youtube.com/channel/UCBkoKZ_tgy_yPnN0sD3KeRg"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="social-rss"><a href="/atom.xml"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
            <!-- End social-ul -->
        </div>
        <!-- End container -->
    </footer>
    <!-- End footer -->