    <footer id="footer">
        <div class="container">
            <div class="copyrights">Copyright 2015|Designed By <a target="_blank" href="#">NextGen</a> | Developed By <a target="_blank" href="#">NextGen</a></div>
            <div class="social-ul">
                <ul>
                    <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="social-youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
            <!-- End social-ul -->
        </div>
        <!-- End container -->
    </footer>
    <!-- End footer -->